<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValuenow]="progreso1" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width]="progreso1 + '%'"></div>
</div>
<br>


<div class="col-12 ">
    <div class="card ">
        <div class="card-body ">
            <h2>1. ¿Cómo califica nuestro servicio en general?</h2>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">Excelente</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">Bueno</label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                <label class="form-check-label" for="inlineRadio3">Necesita Mejorar</label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
                <label class="form-check-label" for="inlineRadio4">Malo</label>
            </div>


            <!-- <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled>
               <label class="form-check-label" for="inlineRadio3">3 (disabled)</label>
            </div>-->

        </div>
    </div>
</div>


<div class="col-12 ">
    <div class="card ">
        <div class="card-body ">
            <h2>2. ¿Cuál de las siguienes áreas es de su mayor interes?</h2>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Piscinas
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                <label class="form-check-label" for="defaultCheck2">
                  Parqueo
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                <label class="form-check-label" for="defaultCheck3">
                  Senderos
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
                <label class="form-check-label" for="defaultCheck4">
                  Restaurante
                </label>
            </div>

        </div>
    </div>
</div>

<div class="col-12 ">
    <div class="card ">
        <div class="card-body ">
            <h2>3. ¿Con que frecuencia nos visita?</h2>
            <select class="custom-select custom-select-sm">
                    <option selected>Elija una opción</option>
                    <option value="1">Semanal</option>
                    <option value="2">Mensual</option>
                    <option value="3">Anual</option>
                  </select>
        </div>
    </div>
</div>

<div class="col-12 ">
    <div class="card ">
        <div class="card-body ">
            <h2>4. ¿Que probabilidades tenemos que nos vuelva a visitar?</h2>
            <label for="customRange3">Poco probable</label>
            <input type="range" class="custom-range" min="0" max="5" step="0.5" id="customRange3">
            <label for="customRange3">Seguro regresaré</label>
        </div>
    </div>
</div>

<div class="col-12 ">
    <div class="card ">
        <div class="card-body ">

            <h2>5. ¿Es asociado a Coosajo R.L.?</h2>
            <div class="custom-control custom-radio">
                <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                <label class="custom-control-label" for="customRadio1">SI</label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                <label class="custom-control-label" for="customRadio2">NO</label>
            </div>
        </div>
    </div>
</div>


<!--FORMATO DE PREGUNTAS
<div class="col-12 ">
    <div class="card ">
        <div class="card-body ">

        </div>
    </div>
</div>-->